.ctrl-bar-spacing {
  padding: 2rem 1rem;
}

.add-movie-search {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  background-color: #fafafa;
  margin: 0 2.5rem;
  padding: 0 3.5rem;
}

.add-movie-search i {
  height: 2rem;
  margin-right: 1rem;
}

#search-results {
}
